@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

body {
  background-color: hsl(20, 50%, 98%);
  font-family: "Red Hat Text", sans-serif;
  position: relative;
}
nav {
  background-color:rgb(19, 99, 149) ;
  color: white;
  padding: 20px 50px;
  
}
.navItem{
  display: flex;
  justify-content: space-between;
}
.LimitedOffer{
  font-size: 20px;
  border-bottom: 3px solid #fff;
  color: #fff;
}
.modal {
  position: fixed;
  background-color: rgb(0 0 0 /60%);
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  width: 500px;
  max-height: 90vh;
  overflow-y: scroll;
}
.hide {
  display: none !important;

}
#Confirm {
  width: 100%;
  border: none;
  cursor: pointer;
}
.desserts {
  font-family: "Red Hat Text", sans-serif;
  color: rgb(19, 99, 149);
  font-size: 30px;
  font-weight: 800;
}
#closeModal {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.images {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 15px;
}

.border {
  border: rgb(19, 99, 149)solid 2px;
}
img {
  border-radius: 8px;
}
.snack {
  font-weight: 400;
  color: hsl(14, 25%, 72%);
  font-size: 12px;
}
.dessert-name {
  font-weight: 600;
  font-size: 12px;
}
.amount {
  font-weight: 500;
  color: rgb(19, 99, 149);
  font-family: red hat text;
}
.cart {
  background-color: #fff;
  padding: 20px;
  height: fit-content;
}
#heading {
  color: rgb(19, 99, 149);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.item-name {
  font-weight: 600;
}
.item {
  padding: 5px;
}
.repeat {
  color: rgb(19, 99, 149);
}
.arrangement {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
  /* height: 100vh; */
}

.image-container {
  justify-content: center;
}
#delivery {
  background-color: hsl(20, 50%, 98%);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 12px;
}
#bold {
  font-weight: bold;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.order {
  background-color: rgb(19, 99, 149);
  padding: 8px 0;
  border-radius: 15px;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.newOrderContainer{
  display: flex;
  justify-content: center;
}
#newOrder {
  background-color: rgb(36, 104, 36);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;

}
#newOrder:hover {
  color: rgb(36, 104, 36);
  background-color: white;
}

#price {
  display: flex;
  justify-content: space-between;
}
#dollar {
  font-weight: bold;
  font-size: 20px;
}
#productList {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  display: flex;
  flex-direction: column;
}
.product > button {
  
  padding: 7px 20px 7px 20px;
  margin: -10% auto 10px auto;
  border-radius: 50px;
  border: hsl(13, 31%, 94%) solid 2px;
  font-size: 11px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartProduct > button {
  border: 1px solid #caafa7;
  background-color: transparent;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.modalProductContent > img {
  height: 50px;
  width: 50px;
}
.modalProductContainer,
.modalProductContent,
#orderContent,
.modalTotalPrice {
  display: flex;
}
.modalProductContainer,
.modalTotalPrice {
  justify-content: space-between;
}
#orderContent {
  padding: 8px;
  flex-direction: column;
  gap: 20px;
}
.modalProductContent {
  gap: 8px;
}
.paymentModal {
  position: fixed;
  background-color: rgb(0 0 0 /60%);
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#successModal {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  width: 500px;
}
#okButton{
  background-color: rgb(36, 104, 36);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  
}
#okButton:hover{
  background-color: white;
  color:rgb(36, 104, 36) ;
}


@media (max-width: 768px) {
  #productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .arrangement {
    flex-direction: column;
    width: 100%;
  }
  .modal{
    background-color: red;
  }
  
  #productList {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .flex {
    flex-direction: column;
    gap: 8px;
  }
  .dessert-image {
    width: auto;
    object-fit: cover;
    height: 30vh;
  }
  .product > button {
    margin: -5% auto 10px auto;
    padding: 15px 0;
    width: 50%;
  }
}
