@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
body {
  /* background-image: url("/images/living\ room.jpg"); */
}
nav {
  background-color: rgb(19, 99, 149);
  color: white;
  padding: 20px 50px;
  position: fixed;
  width: 90%;
  top: 8px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .searchBar {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.search {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search::placeholder {
  color: rgb(19, 99, 149);
} */
.cart {
  display: flex;
  gap: 20px;
}
.cartLink {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
}
.LimitedOffer {
  font-size: 20px;
  border-bottom: 3px solid grey;
}
.products {
  display: flex;
  padding: 30px;
}
main {
  flex-wrap: wrap;
  gap: 25px;
}
#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 122px;
}
.page {
  border: 2px solid rgb(19, 99, 149);
  margin-bottom: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  cursor: pointer;
  background-color: rgb(250, 249, 249);
  /* display: flex; */
}
.page img {
  max-width: 100%;
}
.title {
  color: rgb(19, 99, 149);
  font-weight: bold;
}
.price {
  font-weight: bold;
  color: rgb(19, 99, 149);
}

.buttons {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  margin: 50px;
}
button {
  background-color: rgb(19, 99, 149);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: rgb(19, 99, 149);
  border: 1px solid rgb(19, 99, 149);
}
/* MEDIA QUERIES */
@media (max-width: 480px) {
  body {
    padding: 20px;
  }
  nav {
    background-color: rgb(19, 99, 149);
    color: white;
    padding: 20px 50px;
    position: fixed;
    width: 60%;
    top: 8px;
  }
  .navTop {
    display: flex;
    /* flex-direction: column; */
    padding: 1px;
  }
  .skyLogo{
    width: 60px;
    height: 40px;
  }
  .LimitedOffer{
    display: none;
  }
  .navItem {
    margin-bottom: 20px;
  }
  button {
    padding-bottom: 20px;
  }
  .cart {
    margin-top: 10px;
  }
}
