#categoiesList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.categoryItem{
    text-decoration: none;
    padding: 10px;
    /* border-radius: 8px; */
    /* background-color: rgb(19, 99, 149); */
    color:  rgb(19, 99, 149);
    /* width: 200px; */
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}